* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Nerd Font";
    border: none;
    min-height: 0;
    margin: 3px 3px;
}

#waybar {
    background-color: rgba(30,33,40,0.0);
    color: #D8DEE9;
    transition-property: background-color;
    transition-duration: .5s;
    font-size: 11px;
    font-weight: bold;
}

/* Module */
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mpd,
#submap,
#disk,
#battery,
#backlight,
#custom-recording,
#workspaces {
    padding-left: 0.7em;
    padding-right: 0.7em;
    color: #D8DEE9;
    margin: 2px 2px;
    background: #2E3440;
	border-radius: 2px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    border-radius: 5px;
    font-size: 0.9em;
    margin: 2px 2px;
}
#workspaces button.active {
    border-radius: 5px;
    color: #62AEEF;
    margin: 2px 2px;
}

#battery.charging, #battery.plugged {
    color: #154c79;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #e28743;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
