* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, Iosevka Nerd Font;
    font-size: 13px;
    margin: 2px 3px;
}

#waybar {
    background-color: #1E2128;
    transition-property: background-color;
    transition-duration: .5s;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-recording,
#tray,
#mpd {
    padding-left: 0.6em;
    padding-right: 0.6em;
    color: #D8DEE9;
    margin: 1.5px 2px;
}

#network {
	color: #7aa2f7;
}

#clock {
	background-color: #7aa2f7;
	color: #1E2128;
}
